@font-face {
    font-family: 'stayvibes';
    src: url('../src/Resources/Fonts/stayvibes/StayVibes.otf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'brandon-grotesque';
    src: url('../src/Resources/Fonts/Brandon-Grotesque-Font-Family/brandon-grotesque-thin-italic-58a8a3a8861fe.otf');
    font-weight: 600;
    font-style: normal;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: bisque;

}


.header {
    width: 100%;
    background: url(../src/Resources/Styling-Images/ScranBG.jpeg) no-repeat fixed;
    height: 320px;
    background-size: contain; /* or "contain" depending on what you want */
    background-repeat: no-repeat;
    background-position: 0 -100px;
    text-align:center;
    margin:auto;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.restaurant-name {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: antiquewhite;
    background-color: rgba(0, 0, 0, 0.15);
    font-family: 'stayvibes';
    font-size: 120px;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.nav-bar button {
    border-style: none;
    font-family: 'brandon-grotesque';
    background-color: bisque;
    font-size: 40px;
    color: grey;
    width: 50vh;

}


.active {
    color: black !important;
}

.food-image {
    width: 400px;
    border-radius: 5%;
    height: 400px;
}

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    
}

.menu-item {
    max-width: 400px;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.home p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    padding: 40px;
    font-size: 30px;
    font-family: Helvetica, sans-serif;
    max-width: 75%;
}

.home img {
    max-width: 70%;
    border-radius: 5%;
}

.contact {
    display: flex;
    flex-direction: column;
    font-size: 40px;
    padding: 50px;
    margin: 40px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
